<div class="rich-text">
  <hr>
  {% if section.settings.section_title != blank %}
    <div class="section-header rich-text__heading rich-text__heading--{{ section.settings.text_size }}">
      <p class="h1">{{ section.settings.section_title | escape }}</p>
    </div>
  {% endif %}
  {% if section.settings.text != blank %}
    <div class="rte rich-text__text--{{ section.settings.text_size }}">
      {{ section.settings.text }}
    </div>
  {% endif %}
</div>

{% schema %}
	{
	  "name": "Rich text",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Talk about your brand"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Size",
        "default": "medium",
        "options": [
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Rich text",
        "category": "Text"
      }
    ]
  }
{% endschema %}
